*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.header{

    height: 100%;
    width: 100%;
}
.header img{
    height: 800px;
    background-position: center;
    background-size: cover;
    
}
.header .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 50px;
    text-align: center;
    
}
.content .dev{
    color: tomato;
}
.about{
    padding: 40px;
    margin-bottom: 15px;
    display: inline-block;
}
.about img{
    height: auto;
    background-size: contain;
    border-radius: 50%;
    border: 2px solid tomato;
}
.about .content{
    float: left;
    width: 50%;
}
.about .text {
    padding-top: 12%;

}
.about .text p{
    line-height: 40px;
    text-align: justify;
}
.expert{
    padding: 40px;

}
.expert .content{
    width: 100%;
    height: 20px;
    background-color: #bbb;
    position: relative;
    margin-bottom: 40px;
}
.expert .content .overlay{
 
    width: 80%;
    height: 20px;
    background-color: orangered;
    position: absolute;
}
.expert .right{
    float: right;
    text-align: center;
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
}
.projects{
    margin-bottom: 20px;
    display: inline-block;
    background-color: #bbb;
    padding-bottom: 30px;
}
.projects .nav a{
    text-decoration: none;
    color: black;
    padding: 14px 12px;
    display: inline-block;
}
.projects .nav .active{
    color: tomato;
}
.projects .nav{
    margin-bottom: 10px;
    display: inline-block;
}
.projects .nav a:hover:not(.active){
    color: tomato;
}
.icon{
    text-align: center;
    color: tomato;
    margin-bottom: 15px;
    font-size: 36px;
    cursor: pointer;
}
.phto .first::after{
    content: "";
    display: table;
    clear: both;
}
.phto .first img{
    float: left;
    padding: 1%;
    width: 23%;
}
.contact .link{
    text-align: center;
    padding-bottom: 20px;
}
.contact .link a{
    color: black;
    padding: 14px 16px;
    font-size: 28px;
}
.input input{
    width: 100%;
    margin-bottom: 20px ;
    padding:  12px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #555 ;
}
button{
    position: relative;
    left: 50%;
    padding: 12px 14px;
    border: none;
    background-color: #04aa6d;
    color: white;
    margin-left: -50px;
    font-size: 18px;
    margin-bottom: 40px;
}
hr{
    width: 100%;
}
footer{
    text-align: center;
    padding: 30px 0;
}