*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.header{

    height: 100%;
    width: 100%;
}
.header img{
    height: 800px;
    background-position: center;
    background-size: cover;
    
}
.header .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 50px;
    text-align: center;
    
}
.content .dev{
    color: tomato;
}
.about{
    padding: 40px;
    margin-bottom: 20px;
}
.about img{
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid tomato;
}
.about .content{
    float: left;
    width: 50%;
}
.about .text p{
    line-height: 40px;
}
.expert{
    padding: 40px;
}
.expert .content{
    width: 100%;
    height: 20px;
    background-color: #bbb;
    position: relative;
    margin-bottom: 10px;
}
.expert .content .overlay{
 
    width: 80%;
    height: 20px;
    background-color: orangered;
    position: absolute;
}
.expert .right{
    float: right;
    text-align: center;
    color: white;
}